
style "default"
{ 
	font = "-adobe-times-medium-r-normal--*-100-*-*-*-*-*-*" 
	bg[NORMAL] = { 0.269, 0.388, 0.342 }
	bg[SELECTED] = { 0.3, 0.3, 1.0 }
	bg[ACTIVE] = { 0.5, 0.5, 1.0 }
#	fg[NORMAL] = { 0.4, 0.0, 0.0 }
	fg[NORMAL] = { 0.0, 0.0, 0.0 }
#	fg[SELECTED] = { 0.4, 0.0, 0.0 }
	base[NORMAL] = { 0.5, 0.5, 1.0 } 
	base[ACTIVE] = { 0.5, 0.5, 1.0 } 
	base[SELECTED] = { 0.5, 0.5, 1.0 } 
	base[INSENSITIVE] = { 0.3, 0.3, 1.0 }
#	base[PRELIGHT] = { 0.3, 0.3, 1.0 }
#	fg[PRELIGHT] = { 0.3, 0.3, 1.0 }
#	bg[PRELIGHT] = { 0.3, 0.3, 1.0 }
}

style "closed"
{ 
	font = "-adobe-times-medium-r-normal--*-100-*-*-*-*-*-*" 
	bg[NORMAL] = { 0.0, 0.4, 0.2 }
	bg[SELECTED] = { 0.3, 0.3, 1.0 }
	bg[ACTIVE] = { 0.5, 0.5, 1.0 }
#	fg[NORMAL] = { 0.4, 0.0, 0.0 }
	fg[NORMAL] = { 0.0, 0.0, 0.0 }
#	fg[SELECTED] = { 0.4, 0.0, 0.0 }
	base[NORMAL] = { 0.9, 0.9, 1.0 } 
	base[ACTIVE] = { 0.9, 0.9, 1.0 } 
	base[SELECTED] = { 0.5, 0.5, 1.0 } 
	base[INSENSITIVE] = { 0.3, 0.3, 1.0 }
#	base[PRELIGHT] = { 0.3, 0.3, 1.0 }
#	fg[PRELIGHT] = { 0.3, 0.3, 1.0 }
#	bg[PRELIGHT] = { 0.3, 0.3, 1.0 }
}

style "meter"
{
	font = "-adobe-times-medium-r-normal--*-100-*-*-*-*-*-*"
	bg[NORMAL] = { 1.0, 0.0, 0.0 }
	fg[NORMAL] = { 0.0, 0.0, 0.0 }
	base[NORMAL] = { 0.5, 0.5, 1.0 }
	base[PRELIGHT] = { 0.3, 0.3, 1.0 }

}
widget_class "GtkWindow" style "default"
widget_class "GtkWindow.*.GtkLabel" style "default"
widget_class "GtkWindow.*.GtkEntry" style "default"
widget_class "GtkWindow.*.GtkCList" style "default"
widget_class "GtkWindow.*.GtkHScale" style "default" 
widget_class "GtkWindow.*.GtkFrame" style "default" 
widget_class "GtkWindow.*.GtkHBox" style "default" 
widget_class "GtkWindow.*.GtkVBox" style "default" 

widget_class "GtkWindow.*.WcPie" style "meter"
widget_class "GtkWindow.*.WcGraph" style "meter"
widget_class "GtkWindow.*.WcMeter" style "meter"

